.login {
    background: var(--white);
    height: 100vh;
    color: var(--white);
    position: relative;
    display: grid;
    place-items: center;
    text-align: center;
    color: var(--sm-dark);
}

.index {
    color: var(--big-dark);
    font-size: 3rem;
    text-transform: capitalize;
}